@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>SampleHtml:@ViewBag.Title</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container">
        <h1>Welcome to the page</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About Us</a></li>
            </ul>
        </menu>
    </header>
    <section class="container">
        <h1> @ViewBag.Title</h1>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">
            Copyright 2019 page llc
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>